<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data01.Properties.Settings.MultiBukiConnectionString"
            connectionString="Data Source=APP016\MSSQLSERVER2017;Initial Catalog=MultiBuki;User ID=multibuki.admin;Password=multibuki2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>